body{
    background-image: url("val.jpg");
    background-color: black;
    color: white;
    text-align: right;
}
img{
float:right;
position: relative;
opacity: 5;
}
.column{
  float: left;
  padding: 10px;
}
.column.side {
  width:2%;
  font-style: italic;
  font-size: xx-large;
  color: #FF0000;
  text-shadow: 1px 1px white;
}
.column.h1 {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .column.side,.h1,img {
    width: 100%;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.p{
  text-align: left;
  text-shadow: 1px 1px white;
  font-style: italic;
}
.b{
  text-align: left;
}
mark{
        background-color:black;
        color:red;
        font-style:initial;
}
.mark1{
  font-style: italic;
  color:red;
  background-color: red;
}
.container{
    font-style:normal;
    font-size:xx-large;
    color:red;
}
.h1{
    color:white;
    font-style: italic;
    font-size: larger;
    text-shadow: 2px 2px red;
}
.button{
    background-color: #070707; color: black 
    border: none;
    color: red;
    width: 21%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:50%;
}
.button2 {
    background-color: #070707; color:black 
    border: none;
    color: red;
    width: 25%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:50%;
}
.button3 {
    background-color: #0f0e0e; color: black 
    border: none;
    color: red;
    width: 25%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:50%;
}
.button4 {background-color: #090909; color: black 
    border: none;
    color: red;
    width: 25%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:50%;
}
.button5{display: block;
    width: 20%;
    border: none;
    background-color:white;
    color: white;
    display:inline-block;
    margin: 4px 2px;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius:40%;
    margin: auto;
}
.button5:hover {
    background-color:beige;
    color:red;
  }
  .button:hover {
    background-color:red;
    color: black;
  }
  .button1:hover {
    background-color:red;
    color: black;
  }
  .button2:hover {
    background-color:red;
    color: black;
  }
  .button3:hover {
    background-color:red;
    color: black;
  }
  .button4:hover {
    background-color:red;
    color: black;
  }